:root { 
    --background: #121212; 
    --sidebar-bg: #1E1E1E; 
    --card: #1E1E1E; 
    --border: #2C2C2C; 
    --text: #E0E0E0; 
    --accent: #00BFA6; 
    --hover: #2A2A2A; 
    --hover-accent: #14D3B0; 

    /* Kanban Card Colors (Dark Theme) */
    --kanban-card-bg: #2A2A2A;
    --kanban-card-border: #444444;
    --kanban-card-text: #F0F0F0;
} 

/* Estilos para select no tema escuro */
select {
    background-color: var(--card) !important; /* Força o background do select */
    color: var(--text) !important; /* Força a cor do texto do select */
    border: 1px solid var(--border) !important;
}

select option {
    background-color: var(--card) !important;
    color: var(--text) !important;
}
